@model IEnumerable<Webbansach.Models.OrderDetail>
@using Webbansach.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table container">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </th>
        <th>
            Don gia
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.TenSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.GiaKM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderDate)
            </td>


            <td>
                @if (item.Order.Status.Length > 8)
                {
                    @Html.ActionLink("Hủy đơn hàng", "Editor3", new { id = item.ID })

                } |
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
