@model IEnumerable<Webbansach.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Order.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SanPham.TenSP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Order.OrderDate)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Gia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SoLuong)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Order.Status)
    </td>

    <td>
        @Html.ActionLink("Xác nhận thanh toán", "Editor", new { id = item.ID }) |
        @Html.ActionLink("Xác nhận giao", "Editor2", new { id = item.ID }) |
        @Html.ActionLink("Xác nhận hủy", "Editor3", new { id = item.ID }) |

        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
    </td>
</tr>
}

</table>
